Repository eidan66/pokedex-app, pull requests merged in 2024-09, with the labels that each got.

#51 [FIX]: Update client CI/CD yml file
  .github/workflows/client.yml
  client/src/components/StatBar/StatBar.test.tsx
  client/src/pages/Abilities/Abilities.test.tsx
  client/src/pages/Abilities/Abilities.tsx
  client/src/pages/Items/Items.test.tsx
  client/src/pages/Locations/Locations.test.tsx
  client/src/pages/Moves/Moves.test.tsx
  client/src/pages/TypeCharts/TypeCharts.test.tsx
Labels: client

#49 [PKD-47]: migrate to python
  .github/workflows/update_schema.yml
  .vscode/launch.json
  .vscode/settings.json
  server/.gitignore
  server/.prettierrc
  server/.yarn/releases/yarn-3.6.4.cjs
  server/.yarnrc.yml
  server/Pipfile
  server/Pipfile.lock
  server/README.md
  server/app.ts
  server/controllers/pokemons/index.ts
  server/declarations/http.d.ts
  server/manage.py
  server/models/pokemon/index.ts
  server/models/response/index.ts
  server/nodemon.json
  server/package.json
  server/pokedexServer/__init__.py
  server/pokedexServer/asgi.py
  server/pokedexServer/models/pokemon/Colors.py
  server/pokedexServer/models/pokemon/PokemonModel.py
  server/pokedexServer/models/pokemon/PokemonTypeModel.py
  server/pokedexServer/models/response/APIPageResponse.py
  server/pokedexServer/pokemons.py
  server/pokedexServer/serializers.py
  server/pokedexServer/settings.py
  server/pokedexServer/urls.py
  server/pokedexServer/utils.py
  server/pokedexServer/wsgi.py
  server/routes/index.ts
  server/routes/pokemons/index.ts
  server/schema.yml
  server/tsconfig.json
  server/utils/index.ts
  server/yarn.lock
Labels: server

#52 Update yml - ignore main branch
  .github/workflows/update_schema.yml
Labels: server

#54 Allow Render.com domain
  server/pokedexServer/settings.py
Labels: server

#57 [PKD-56]: Create Pokemon info API and implement it on client
  .vscode/settings.json
  client/MOCK_DATA/MOCK.ts
  client/MOCK_DATA/MOCK_DETAILS.ts
  client/assets/images/friend-icon.png
  client/assets/images/person.png
  client/assets/images/trade-icon.png
  client/assets/pokeballLottie.json
  client/jest.config.ts
  client/src/components/Box/Box.test.tsx
  client/src/components/Box/Box.tsx
  client/src/components/TypeBox/TypeBox.stories.tsx
  client/src/components/TypeBox/TypeBox.test.tsx
  client/src/components/TypeBox/TypeBox.tsx
  client/src/navigation/routes/RootNavigator.tsx
  client/src/pages/Pokedex/Pokedex.test.tsx
  client/src/pages/Pokedex/Pokedex.tsx
  client/src/pages/PokemonDetails/PokemonDetails.test.tsx
  client/src/pages/PokemonDetails/PokemonDetails.tsx
  client/src/pages/PokemonDetails/Tabs/Evolutions/EvolutionStep/EvolutionStep.test.tsx
  client/src/pages/PokemonDetails/Tabs/Evolutions/EvolutionStep/EvolutionStep.tsx
  client/src/pages/PokemonDetails/Tabs/Evolutions/Evolutions.test.tsx
  client/src/pages/PokemonDetails/Tabs/Evolutions/Evolutions.tsx
  client/src/pages/PokemonDetails/Tabs/Moves/Moves.tsx
  client/src/types/PokemonDetails.ts
  client/src/utils/serverUrl.ts
  server/.idea/.gitignore
  server/.idea/inspectionProfiles/profiles_settings.xml
  server/.idea/misc.xml
  server/.idea/modules.xml
  server/.idea/server.iml
  server/.idea/vcs.xml
  server/pokedexServer/pokemons.py
  server/pokedexServer/serializers.py
  server/pokedexServer/urls.py
  server/schema.yml
Labels: server, client

#58 Update README files
  README.md
  client/README.md
Labels: client

#59 Update folder structure and add dockerfile
  .github/workflows/update_schema.yml
  server/.idea/misc.xml
  server/.idea/server.iml
  server/Dockerfile
  server/Pipfile
  server/Pipfile.lock
  server/README.md
  server/pokedexServer/models/pokemon/PokemonModel.py
  server/pokedexServer/serializers/__int__.py
  server/pokedexServer/serializers/pokemon_detail_serializers.py
  server/pokedexServer/serializers/pokemon_info_serializers.py
  server/pokedexServer/serializers/pokemon_list_serializers.py
  server/pokedexServer/urls.py
  server/pokedexServer/views/pokemons/__int__.py
  server/pokedexServer/views/pokemons/detail_view.py
  server/pokedexServer/views/pokemons/info_view.py
  server/pokedexServer/views/pokemons/list_view.py
  server/schema.yml
Labels: server
